<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Flask WebSocket App</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
</head>
<body>
    <h1>Price Dashboard ver 0.3</h1>
    <div>
        <label for="symbol-input">Enter Ticker:</label>
        <input type="text" id="symbol-input">
        <button id="change-symbol">Change Symbol</button>
    </div>
    <div>
        <h2>Kline Data</h2>
        <pre id="kline-data"></pre>
    </div>
    <div>
        <h2>Order Book</h2>
        <pre id="order-book"></pre>
    </div>

    <script>
        $(document).ready(function() {
            var socket = io();

            socket.on('response', function(data) {
                console.log(data.data);
            });

            socket.on('kline_data', function(data) {
                $('#kline-data').text(JSON.stringify(data, null, 2));
            });

            socket.on('order_book', function(data) {
                $('#order-book').text(JSON.stringify(data, null, 2));
            });

            socket.on('symbol_changed', function(data) {
                console.log('Symbol changed to: ' + data.symbol);
            });

            $('#change-symbol').click(function() {
                var symbol = $('#symbol-input').val();
                socket.emit('change_symbol', { symbol: symbol });
                $.ajax({
                    url: '/change_symbol',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({ symbol: symbol }),
                    success: function(response) {
                        console.log('Symbol changed to: ' + response.symbol);
                    }
                });
            });
        });
    </script>
</body>
</html>
